* {
  margin: 0;
  padding: 0;
}

body{
  font-family: 'Merriweather', serif;
  background-color: #C9D6DF;
}

.navbar{
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #F0F5F9;
}

.navbar_brand{
  width: 100px;
}

.navbar_logo{
  width: 100%;
}

.button_primary{
  background-image: linear-gradient(
    to right,
    #D31027 0%, #EA384D  51%, #D31027  100%
    );
    color: #fff;
    border: none;
    padding: 12px;
    border-radius: 6px;
    font-weight: 600;
}

.button_primary:hover{
  border: 2px solid #FF6767;
  cursor: pointer;
}

.hero_image_container{
  width: 100%;
}

.hero_image{
  width: 100%;
  border-radius:8px;
  box-shadow: 0 25px 50px -12px rgb(0 0 0 / 25%);
}

.container{
  padding: 20px;
  max-width: 100%;
  margin: 0 auto;
}

.hero_text{
  font-weight: 800;
  font-size: 30px;
  padding: 20px 0px;
  color: black;
}

.food_cart_image_container{
  width: 100%;
}

.food_image{
  width: 100%;
  border-radius: 5px;
}

.food_card{
  background-color: #F9F9F9;
  box-shadow: 0 25px 50px -12px rgb(0 0 0 / 25%);
  border-radius: 5px;
}

.food_cart_description{
  padding: 15px;
}

.explore_menu_text{
  margin-top: 30px;
  margin-bottom: 20px;
  text-align: center;
  color: black ;
  font-size: 30px;
  font-weight: 800;
}

.gallery_container{
  padding: 10px;
}

.gallery_text{
  padding-top: 40px;
  font-weight: 800;
  font-size: 30px;
  color: black;
  display: flex;
  justify-content: center;
}

.gimage1{
  width: 200px;
  height: 100px;
  margin: 0 5px 5px 5px;
  border-radius: 5px;
  box-shadow: 0 25px 50px -12px rgb(0 0 0 / 25%);
}

.gimage2{
  width: 150px;
  height: 80px;
  margin: 0 5px 5px 5px;
  border-radius: 5px;
  box-shadow: 0 25px 50px -12px rgb(0 0 0 / 25%);
}

.gallery_row1{
  display: flex;
  align-items: baseline;
  justify-content: center;
}

.gallery_row2{
  display: flex;
  justify-content: center;
}

.mail_and_button{
  display: flex;
  align-items: center;
}

.mailid_form_input{
  border: 1px solid #ee89a0;
  background-color: #fcedf0;
  color: black;
  font-weight: 700;
  padding: 0.5rem;
  border-radius: 4px;
  align-content: center;
  width: 10rem;
}

.update_button{
  margin: 10px;
  padding: 0.5rem 1rem;
}

.footer_section_main{
  height: 350px;
}

.invert_color_logo{
  filter: brightness(0) invert(1);
}

.ul_items{
  text-align: center;
}

.footer.button_primary{
  height: 100px;
}

li{
  list-style-type: none;
}


/* ipad */
@media (min-width: 768px) {
  .navbar{
    justify-content: space-between;
    padding: 10px 30px;
  }

  .hero_container{
    margin-top: 20px;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
  }

  .explore_menu_list{
    display: flex;
    gap: 15px;
    margin-top: 50px;
    padding: 0 30px;
  }

  #italian_card{
    margin-top: -20px;
    margin-bottom: 20px;

  }
  .explore_menu_container{
    position: relative;
  }

  .explore_menu_gradient_bg{
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to right,
    #D31027 0%, #EA384D  51%, #D31027  100%

      );
      z-index: -3;
      transform : skewY(-5deg);
  }

  .gallery_text{
    display: flex;
    justify-content: center;
  }

  .mail_and_button{
    display: flex;
    justify-content: center;
  }

  .footer_section_main{
    margin-top: 3rem;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
  }

  .ul_items{
    list-style-type: none;
  }

}







/* lap/pc */
@media (min-width: 1024px) {
  .container{
    max-width: 70%;
  }

  .navbar_brand{
    width: 150px;
  }

  .button_primary{
    padding: 20px;
    font-size: 20px;
  }

  .hero_description{
    width: 100%;
  }

  .hero_text{
    font-size: 40px;
  }

  .explore_menu_list{
    gap:15px;
  }

  .explore_menu_text{
    font-size: 48px;
  }

  .order_gallery_container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
  }

  .mail_and_button{
    justify-content: center;
  }

  .email_and_subscribe_button{
    justify-content: center;
  }

  .gallery_text{
    display: flex;
    justify-content: center;
  }
}
